# IDE
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS
.DS_Store

# Gradle / Kotlin / C++
**/.gradle/
**/.kotlin/
**/.cxx/
**/externalNativeBuild/

# Builds & outputs
**/build/
**/outputs/
app/release/

# Android defaults
captures/
local.properties

# Binaries & secrets
*.apk
*.aab
*.jks
*.keystore
*.p12
*.pem
".idea/" 
"index.html" 
"script.js" 
"styles.css" 
".idea/" 
